@import "../../styles/variables";

.footer {
  display: grid;
  grid-auto-columns: 1fr auto auto;
  gap: 10px 40px;
  padding: 25px 30px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  background: $primary;

  @media screen and (max-width: 765px) {
    grid-template-columns: 1fr;
  }

  a {
    &:hover {
      color: $light-grey;
    }
  }
}
