@import "../../styles/variables";

.reviewForm {
  display: grid;
  grid-template-columns: [start] auto 1fr auto [end];
  gap: 20px 30px;
  align-items: center;
  font-size: 14px;
  line-height: 24px;

  @media screen and (max-width: 1100px) {
    grid-template-columns: [start] 1fr 1fr [end];
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: [start] 1fr [end];
  }

  .description,
  .submit {
    grid-column: start / end;
  }

  .title {
    justify-self: left;

    @media screen and (max-width: 1100px) {
      justify-self: normal;
    }
  }

  .rating {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    @media screen and (max-width: 1100px) {
      grid-column: start / end;
    }
  }
}

.panel {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.success {
  background: $light-green;

  .successTitle {
    font-weight: bold;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.error {
  background: $light-red;

  .close {
    path {
      stroke: $red;
    }
  }
}
