// Colors
$black: #3b434e;
$white: white;
$primary: #7653fc;
$primary-hover: #6344df;
$red: #fc836d;
$green: #1dc37e;
$light-green: #c8f8e4;
$light-grey: #ebebeb;
$dark-grey: rgb(99, 96, 96);

// Fonts
$noto-sans: "Noto Sans KR", sans-serif;
