.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-areas:
    ". header header ."
    ". sidebar content ."
    "footer footer footer footer";
  grid-template-rows: auto 1fr auto;
  gap: 0 30px;

  @media screen and (max-width: 765px) {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}

.header {
  grid-area: header;
  display: none;

  @media screen and (max-width: 765px) {
    display: block;
  }
}

.sidebar {
  grid-area: sidebar;

  @media screen and (max-width: 765px) {
    display: none;
  }
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
